nav p + p {
text-indent: 0;
}

.loginbox, .no-body {
background-color: #DDF;
padding: 20px;
border: 2px black solid;
}

.loginbox img {
padding: 10px 0px;
}

.locallogin, .no-rights {
background-color: #FDD;
padding: 20px;
border: 2px black solid;
}

.story {
    margin: 0px 10px;
    padding: 1px 0px;
}

.story h6 {
    margin: 10px 0px 5px 0px;
}

.favourites {
    position: relative;
    clear: both;
       height: 1px;
}

.favourites li {
    float: left;
    list-style: none;
       padding: 0 0 0 10px;
}

.currentUser {
 background-color: #CFC;
}

.left {
   margin: 1.5em 1.5em 1.5em 0px;
   margin-top: 1.5em;
   margin-right: 1.5em;
   margin-bottom: 1.5em;
   margin-left: 0px;
}
